.MenuDeroulant{
    display:none;
}

.boutonOuvrirMenu{
    display: none;
}


/*presentation*/

.contenu_présentation{
    min-height: 50vh;
    display: flex;
    align-items: center;
    text-align: center;  
}

.menu{
    display:initial;
}

/*parties services*/

.présentation_des_services{
    display: flex;
    justify-content: center;
}

/*partie contact*/


/*fin de la partie contact/*

/* fin de la page accueil*/



/*page équipe*/

.membre{
    display:flex;
    padding: 10px;
}

/*fin de la page équipe*/

/* page Mention Légale */

.Mention_legale{
    background-color: #eff3f3 ;
    color:  rgb(34, 34, 34);
    padding: 20px;
    min-height: 90vh;
}

.Mention_legale>h2{
    margin: 0;
}



.realisation img{
    width: 50%;
}








